body {
    font-family: 'Alef', sans-serif;
    line-height: 150%;
    background-color: whitesmoke;
}

h2 {
    margin-bottom: 2px;
    clear: both;
}

h3 {
    text-align: center;
}

#title {
    text-align: center;
}

#navPanel {
    /* position: fixed; */
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

#layoutTable, #layoutTable tr {
    width: 100%;
    overflow: hidden;
}

#layoutTable tr {
    width: 100%;
}

#col0 {
    width: 15%;
    vertical-align: top;
    border-right: 1px gray solid;
}

#col1 {
    width: 10%;
    vertical-align: top;
    border-right: 1px gray solid;
}

#col2 {
    vertical-align: top;
}

.mainContent {
    display: none;
    width: 90%;
    margin: 0 auto;
}

/* Major layout divs */

.middled {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centred {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-top: -50px;
}



/* Scene Editor */

#hotSpotOptions {
    display: none;
}

#scenes {
    width: auto;
    margin: 0 auto;
    overflow: visible;
}

.scene {
    overflow: visible;
    position: relative;
    border: 1px dashed black;
}

.hotSpot {
    border: 1px dotted blue;
    width: 50px;
    height: 50px;
    position: absolute;
}

.hotSpot:hover {
    border: 1px dotted orange;
}

.hotSpot.selected {
    border: 2px solid red;
}

#scenePreview iframe {
    width: 100%;
    display: block;
    overflow: auto;
    min-height: 600px;
}

/* GUI */

.foldDivider {
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    margin: 3px;
    margin-top: 10px;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;

    background-color: #cccccc;
    transition: background-color 0.5s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.foldDivider:hover {
    background-color: #b3d4fc;
    transition: background-color 0.5s;
}

.foldDivider + div {
    display: none;
}

.button {
    text-align: center;
    padding: 5px;
    margin: 3px;
    min-width: 100px;
    cursor: pointer;
    background-color: #cccccc;
    transition: background-color 0.2s;
    float: left;


}

.button:hover {
    background-color: #b3d4fc;
    transition: background-color 0.2s;
}

.button.selected {
    background-color: orangered;
    transition: background-color 0.2s;
}

.jsEditor {
    width: 100%;
    min-height: 300px;
}

.cssEditor {
    width: 100%;
    min-height: 300px;
}

.htmlEditor {
    width: 100%;
    min-height: 300px;
}

.hidden {
    display: none;
}


#sceneSelect img {
    margin: 0 auto;
    display: block;
    width: 90%;
}

#sceneSelect .subtitle {
    text-align: center;
    font-size: 20px;
}

#sceneSelect .option {
    margin-top: 20px;
    padding-top: 10px;
    cursor: pointer;
}

#sceneSelect .option:hover {
    background-color: lightblue;
}

#sceneSelect .option.selected {
    background-color: lightskyblue;
}

#hotSpotSelect .option {
    padding: 10px;
    cursor: pointer;
}

#hotSpotSelect .option:nth-child(odd) {
    background: #eeeeee;
}

#hotSpotSelect .option:hover {
    background-color: lightblue;
}

#hotSpotSelect .option.selected {
    background-color: lightskyblue;
}

#unpreviewButton {
    float: right;
}

#configButton {
    background-color: #d3d3d3;
    cursor: pointer;
    padding: 1px;
}